# ===== Visual Studio / MSVC (C/C++) =====

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio working folder
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]RM/
[Aa]RM64/
out/

# MSVC / linker / debug artifacts
*.pdb
*.ipch
*.iobj
*.ipdb
*.ilk
*.tlog
*.log
*.idb
*.obj
*.exe
*.dll
*.lib
*.exp
*.map

# C/C++ intermediate/precompiled
*.pch

# CMake (если вдруг появится)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# OS junk
.DS_Store
Thumbs.db
